body{
  margin: 0;
    text-align: center;
    font-family: 'Laila', sans-serif;
    margin-bottom: 0%;
    color: #40514E;
}
  h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
   width: 25%;
   margin: auto;
   margin: 50px auto 0px auto;
  color: #66BFBF;
  line-height: 2;
  }
  h2{
    
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
  }
  h3{
    color: #11999E;
  
  }
  hr{
    border-style: none;
    border-top-style: dotted ;
     border-width: 8px;
    border-color: #EAF6F6;
    width :4%;
    margin: 100px auto;
    
  }
.top-container{
 background-color: #EAF6F6;
 position: relative;
 padding: 100px;
}
.top-cloud{
  position: absolute;
  right: 100px;
  top:50px;
}
.bottom-cloud{
   position:absolute;
   top:50px;
   left: 150px;
}
.badal{
  position:absolute;
  bottom: 720px;
  left: 400px;
}
.badal2{ 
   position:absolute;
  bottom: 720px;
  right: 330px;
}
.mountain{
  position: relative;
  top: 100px;

}
.skill-row{
 margin: 0 auto 80px auto;
 text-align: left;
  width: 55%;
  line-height: 2;
  
}
.skill-table{
  margin-left: 0;
}
.pro{
  width: 57%;
  margin: auto;
}
.skillcartoon{
  margin:  0px 30px auto auto;
  height: 175px;
  width: 18%;
  float: left;
  
}
.dev{
  width: 18%;
  float: right;
  margin:  0px auto auto 30px;
}
.footer-link{
  margin: 20px 10px;
  color: #11999E ; 
  text-decoration: none;
  
}
.footer-link:hover{
  color: #EAF6F6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Laila', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}
.intro-des{
 color:#40514E;
 line-height: 2;
 margin: auto;
 width: 40%;
}
.hey{
  margin: 40px 0 0 0;
 height: auto; 
 width: 15%;
}
.skills{
margin: 40px auto 20px auto;
}
.debug{
 
  margin: auto auto 20px auto;
  width: 40%;
  padding-bottom: 30px;
}
.debugs{
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.copy{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}

.bottom-container{
 margin:30px auto 0 auto;
 background-color:#66BFBF;
 padding-top: 20px;
 padding-bottom: 20px;
}